# NASA Mars News

In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
from selenium import webdriver
import requests

In [109]:
def title_scrape():
    
    data = {}
    url = 'https://mars.nasa.gov/news/'
    response = requests.get(url)  # Retrieve page with the requests module
    soup = bs(response.text, 'html.parser') # Create BeautifulSoup object; parse with 'html.parser'
    
    #collect the latest News Title and Paragragh Text.
    data['title'] = soup.find('div',class_='content_title').find('a').text

    data['paragraph'] = soup.find('div',class_='rollover_description_inner').text

    
    return (data)

In [110]:
title_scrape()

{'paragraph': '\nNASA and the Department of Energy’s National Nuclear Security Administration (NNSA) have successfully demonstrated a new nuclear reactor power system that could enable long-duration crewed missions to the Moon, Mars and destinations beyond.\n',
 'title': '\nDemonstration Proves Nuclear Fission System Can Provide Space Exploration Power\n'}

# JPL Mars Space Images - Featured Image

In [120]:
def image_link():
    executable_path = {'executable_path': 'chromedriver.exe'}
    browser = Browser('chrome', **executable_path, headless=False)
    url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
    browser.visit(url)
    browser.find_link_by_partial_text('FULL').first.click()
    html = browser.html
    
    soup = bs(html, 'html.parser')

    #print (soup.prettify())

    image =  soup.find('a',class_='button')


    link = image['data-link']

    image_url = 'https://www.jpl.nasa.gov' + str(link)

    browser.visit(image_url)

    html2 = browser.html
    soup2 = bs(html2, 'html.parser')

    jpeg_image = soup2.find('figure',class_='lede')
    
    final_jpeg = jpeg_image.a['href']

    featured_image_url = 'https://www.jpl.nasa.gov' + str(final_jpeg)

    return (featured_image_url)

In [121]:
image_link()

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16469_hires.jpg'

# Mars Weather Data from Twitter

In [11]:
def tweet_response():
    weather = {}
    weather_response = requests.get('https://twitter.com/marswxreport?lang=en')
    soup3 = bs(weather_response.text, 'html.parser')

    weather_result = soup3.find(class_="content")

    weather['today'] = weather_result.find('p', class_="TweetTextSize").text

    return(weather)

tweet_response()

{'today': 'Sol 2062 (May 25, 2018), Sunny, high 2C/35F, low -72C/-97F, pressure at 7.45 hPa, daylight 05:19-17:20'}

# Mars Facts

In [2]:
def table_data():
    url = 'http://space-facts.com/mars/'
    table = pd.read_html(url)
    table_df = table[0]
    table_df.columns = ['Parameters' , 'Values']
    table_df.set_index('Parameters', inplace = True)
    html_table = table_df.to_html()

    return (html_table)

table_data()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Values</th>\n    </tr>\n    <tr>\n      <th>Parameters</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'